* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#map {
    width: 100vw;
    flex-grow: 1;
    box-shadow: 0 0 10px -2px black;
}

#toolbar {
    width: 100vw;
    height: 50px;
    background-color: white;
    display: flex;
}

.button {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.editButton {
    display: none;
    background-size: 50%;
    background-position: center;
}

#journalButton {
    display: inline-block;
    background-size: 50%;
    background-position: center;
    background-image: url(../img/journal.svg);
}

#addSubStationButton {
    background-image: url(../img/subStationButtonIcon.svg);
}

#addRpButton {
    background-image: url(../img/rpButtonIcon.svg);
}

#addRecloserButton {
    background-image: url(../img/recloserButtonIcon.svg);
}

#addDelimiterButton {
    background-image: url(../img/delimiterButtonIcon.svg);
}

#addTpnButton {
    background-image: url(../img/tpnButtonIcon.svg);
}

#addZtpButton {
    background-image: url(../img/ztpButtonIcon.svg);
}

#addPillarButton {
    background-image: url(../img/pillarButtonIcon.svg);
}

#addAirLineButton {
    background-image: url(../img/airLineButtonIcon.svg);
}

#addCableLineButton {
    background-image: url(../img/cableLineButtonIcon.svg);
}

#binButton {
    background-image: url(../img/binIcon.svg);
}

#switchModeButton {
    background-image: url(../img/pencil.svg);
    background-size: 50%;
    background-position: center;
}

#saveButton {
    background-image: url(../img/save.svg);
}

#newFileButton {
    background-image: url(../img/newFile.svg);
}

#loadButton {
    background-image: url(../img/load.svg);
}

#properties {
    position: absolute;
    width: 258px;
    bottom: 10px;
    right: 0;
    top: 60px;
    background-color: white;
    z-index: 500;
    visibility: hidden;
    box-shadow: 0 0 10px -2px black;
    padding: 20px;
    font-size: 16px;
}

#dispatcherName, #lat, #lng {
    border: 1px solid gray;
    line-height: 1.5em;
    font-size: 16px;
    width: 250px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 20px;
}

#journal {
    line-height: 1.5em;
    font-size: 16px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 1000;
    background-color: white;
    display: none;
}